:root{
    /* Colors */

/* Primary */

--strong-cyan: rgb(38, 186, 164);
--light-blue: hsl(233, 100%, 69%);

/* Neutral */

--dark-grayish-blue: hsl(210, 10%, 33%);
--grayish-glue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 18px;
    font-family: "Bai Jamjuree", serif;
}
body{

}
.wide  {
    width: 100%;
}
.center{
    width: 84%;
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}
.btns{
    display: flex;
    flex-direction: column;
}
.btn{
    color: white;
    font-size: .75rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 3rem;
    padding: .85rem 3.5rem;
    margin-bottom: 1.25rem;
}
.btn__ios{
    background-color: var(--strong-cyan);
    box-shadow: 0 3px 1px hsl(170, 66%, 38%);
}
.btn__mac{
    background-color: var(--light-blue);
    box-shadow: 0 3px 1px hsl(232, 66%, 58%);
}
header{
    background-image:linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 1)) ;
    background-image: url(./images/bg-header-mobile.png);
    text-align: center;
    padding-block: 6rem 3rem;
}
.header__img{
    width: 110px;
    height: 110px;
}
.section__content{
    color: var(--grayish-glue);
    font-size: .785rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.download-section h1{
    font-weight: 600;
    margin-bottom: 1rem;
}