:root{
    /* Colors */

/* Primary */

--strong-cyan: rgb(38, 186, 164);
--light-blue: hsl(233, 100%, 69%);

/* Neutral */

--dark-grayish-blue: hsl(210, 10%, 33%);
--grayish-blue: hsl(201, 11%, 66%);

--fs-100: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
--fs-200: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
--fs-300: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-family: "Bai Jamjuree", serif;
}
body{
    color: var(--grayish-blue);
    font-size: var(--fs-100);
    line-height: 1.8;
}
h1, h2, h3{
    color: var(--dark-grayish-blue);
    font-weight: 600;
}
h1{
    font-size: clamp(1.6875rem, 1.3482rem + 1.6964vw, 2.875rem);
    letter-spacing: -1px;
    margin-bottom: .875rem;
}
h2{
    font-size: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
    line-height: 1.3;
    margin-bottom: 1.1rem;
}
h3{
    font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
    margin-bottom: .2rem;
}
img{
    width: 100%;
    aspect-ratio: auto;
    display: block;
    margin-block: 1rem 2rem;
}
section{
    margin-bottom: 8.4rem;
}
section.track{
    margin-bottom: 0;
}
.wide  {
    width: 100%;
}
.center{
    width: 83%;
    max-width: 1120px;
    margin-inline: auto;
    text-align: center;
}
.btns{
    display: flex;
    flex-direction: column;
}
.btn{
    color: white;
    font-size: clamp(0.9375rem, 0.9018rem + 0.1786vw, 1.0625rem);
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 3rem;
    padding: 1rem 3.5rem ;
    margin-bottom: 1.25rem;
}
.btn__ios{
    background-color: var(--strong-cyan);
    box-shadow: 0 3px 2px hsl(170, 66%, 38%);
}
.btn__mac{
    background-color: var(--light-blue);
    box-shadow: 0 3px 1px hsl(232, 66%, 58%);
}
ul{
    color: var(--dark-grayish-blue);
}
li{
    list-style: none;
    font-size: .875rem;
    margin-bottom: 1.4rem;
}
header{
    background-image:linear-gradient(rgba(255, 255, 255, 0), 90%, rgb(255, 255, 255, 1)), url(./images/bg-header-mobile.png); ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-block: 7rem 2.758rem;
}
.header__img{
    width:clamp(6.875rem, 6.6071rem + 1.3393vw, 7.8125rem);
    margin-bottom: 0;
}
.section__content{
    color: var(--grayish-glue);
    margin-bottom: 2.5rem;
}
.top{
    font-size: var(--fs-300);
    line-height: 1.5;
}
.track .section__content{
    font-size: var(--fs-200);
    line-height: 1.7;
}
.acces{
    margin-bottom: 2.5rem;
}
.acces .section__content{
    font-size: var(--fs-200);
}
.icon{
    width: 15%;
    text-align: center;
    margin: 0 auto;
}
.section-flexbox{
    display: flex;
    flex-direction: column;
}
.working-with{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-item img{
    width: 75%;
}
section.tools{
    margin-bottom: 5rem;
}
.working-with{
    margin-bottom: 6rem;
}
footer{
    background-color: hsl(220, 18%, 97%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .logo{
    width: 50px;
    margin-top: 1rem;
}
.footer-list ul{
    padding: 0;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social img{
     width: 22px;
}
.social img:not(img:first-child){
    margin-left: 1.75rem;
}
@media (width > 700px){
    .download__section,
    .track{
        max-width: 710px;
    }
    section.acces{
        max-width: 910px;
    }
    .acces .section__content{
        max-width: 700px;
        margin-bottom: 5rem;
        padding-inline-start: 6rem;
    }
    .btns{
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }
    .btn{
        width: 230px;
        padding: 1.25rem 1rem .85rem;
    }
    .working-with,
    .section-flexbox,
    footer,
    .footer-list ul{
        flex-direction: row;
    }
    .section-flexbox.center{
        width:100%;    
        max-width: 100%;    
        left: -35px;
        position: relative;
        gap: 7rem;
        align-items: center;
    }
    .section-flexbox .section__img{
        width: 75%;
        margin-top: 0;
    }
    .section-flexbox .section-article{
        text-align: start;
        padding-right: 16rem;
        padding-bottom: 1rem;
    }
    .tools .section-flexbox{
        gap: 2rem;
    }
    .tool .icon{
        height: 40px;
        width: 40px;
    }
    .tool .icon img{
        object-fit: contain;
    }
}