:root{
    /* Colors */

/* Primary */

--strong-cyan: rgb(38, 186, 164);
--light-blue: hsl(233, 100%, 69%);

/* Neutral */

--dark-grayish-blue: hsl(210, 10%, 33%);
--grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 18px;
    font-family: "Bai Jamjuree", serif;
}
body{
    color: var(--grayish-blue);
}
h1, h2, h3{
    color: var(--dark-grayish-blue);
    font-weight: 600;
}
h1{
    margin-bottom: .875rem;
}
h2{
    font-size: 1.325rem;
    margin-bottom: .8rem;
}
h3{
    font-size: 1.12rem;
    margin-bottom: .6rem;
}
img{
    width: 100%;
    /* display: inline-block; */
    margin-block: 1rem 2rem;
}
section{
    margin-bottom: 6.5rem;
}
.wide  {
    width: 100%;
}
.center{
    width: 84%;
    max-width: 1120px;
    margin-inline: auto;
    text-align: center;
}
.btns{
    display: flex;
    flex-direction: column;
}
.btn{
    color: white;
    font-size: .75rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 3rem;
    padding: .85rem 3.5rem;
    margin-bottom: 1.25rem;
}
.btn__ios{
    background-color: var(--strong-cyan);
    box-shadow: 0 3px 1px hsl(170, 66%, 38%);
}
.btn__mac{
    background-color: var(--light-blue);
    box-shadow: 0 3px 1px hsl(232, 66%, 58%);
}
li{
    list-style: none;
    font-size: .875rem;
    margin-bottom: 1.5rem;
}
header{
    background-image:linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 1)) ;
    background-image: url(./images/bg-header-mobile.png);
    text-align: center;
    padding-block: 4.75rem 2.758rem;
}
.header__img{
    width: 110px;
    height: 110px;
    margin-bottom: 0;
}
.section__content{
    color: var(--grayish-glue);
    font-size: .785rem;
    line-height: 1.5;
    margin-bottom: 2.2rem;
}
.acces{
    margin-bottom: 2.5rem;
}
.icon{
    width: 15%;
    text-align: center;
    margin: 0 auto;
}
.working-with{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-item img{
    width: 75%;
}
.working-with{
    margin-bottom: 6rem;
}
footer{
    background-color: hsl(220, 18%, 97%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .logo{
    width: 50px;
    margin-top: 1rem;
}
.footer-list ul{
    padding: 0;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social img{
     width: 22px;
}
.social img:not(img:first-child){
    margin-left: 1.75rem;
}
